html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', sans-serif;
    font-size: 11px;
}

header {
    background-color: #191e2b;
    margin: 0px;
    height: 20%;
    display: flex;
    padding-bottom: 15px;
    
}

img{
    height: 100%;
    
}

h1{
    display: inline;
    color: #fbffff;
}
main {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
    background-color: #30343f;
    
}

/* ------------------INICIO SCROLLBAR------------------  */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5A5D68 #E6E6E6;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 9px;
    width: 9px;
}

*::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #E6E6E6;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5A5D68;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #32343A;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #121315;
}
/* ------------------FIN SCROLLBAR------------------  */

.caja-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-items: center; 
    align-items: center;
    
}

/* .options{
    
} */

/* .fa-solid, .fa-regular {
    COMO LOGRAR UN ESPACIO ENTRE EL ICONO Y EL TEXTO?
} */

.titleMeme{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    
}

span {
    padding: 5px;
    margin: 0 3px;
    color: #fbffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-align: center;
}

.recuadroPadre {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items:inherit;
    
}

.top-text {
    background-color: white;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:center; 
    margin: 0;    
    order: 0;
}

.img-meme {
    background-color: #000000;
    order: 1;
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0px;
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
}

.bottom-text {
    background-color: white;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    margin: 0%;
    align-items: center;
    justify-content: center;
    order: 2;
    
}

h2{
text-align: center;
font-size: 18px;
}

h3, h4, h5{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    
}
aside{
    display: flex;
    flex-direction: column;
}

.asideImg{
    position: absolute;
    overflow-x: scroll;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3px;
    padding-left: 15px;
    padding-right: 1%;
    padding-bottom: 1%;
    overflow: scroll;
    color: white;
    background-color: #252935;    
}

label{
    display: block;
    margin: 0;
} 

input, select{
    background-color: #393e49; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 11px;
    width: 95%;
    height: 20%;
    border-radius: 5%;
    border: none;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
}

input[type="text"]{
    margin: 0;
    height: auto;
}

.fondoContainer{
    display: flex;
    align-items: center;
    
}

.nameColor{
    background-color: #393e49;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1%;
    border-radius: 7%;
    
}

.circleColor, .spanContainer, .spanColor{
    display: flex;
    flex-direction: column;
    margin: 0;
}


input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    height: 18px;
    min-width: 18px;
    border-radius: 50%;
    align-items: center;
}

.fondoOptions{
    background-color: 393e49;
    display: block;
    margin-left: 3%;
}
.optionsDesplegable{
    padding: 9%;
}

.boxRange{
    align-items: center;
    justify-content: center;
}

input[type=range] {
    height: 27px;
    -webkit-appearance: none;
    width: 100%;
    background-color: transparent;
    margin: 0;
    padding: 0;
    
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #5A5D68;
    border-radius: 4px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #5A5D68;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: #5A5D68;
    border-radius: 4px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #5A5D68;
    border: 0px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #5A5D68;
    border: 0px solid #000000;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 3px solid #FFFFFF;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #5A5D68;
}

input[type=range]:focus::-ms-fill-upper {
    background: #5A5D68;
}

.btnReset{
    background-color: #393e49;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none; 
    border-radius: 3%;
    border-radius: 5%;
    margin:0%;
    width: fit-content;
    padding: 3%;
    
}

.asideTxt{
    position: absolute;
    overflow-x: scroll;
    top: 0;
    left: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 1%;
    background-color: #252935;
    color: white;
    padding-bottom: 1%;
}

.asideTxt h3{
    margin-right: 35%;
    margin-bottom: 2%;
}

.asideTxt select{
    height: 25%;
    font-size: 11px;
}

.checkContainer{
    display: flex;
    align-items: center;
    margin-top: 2%;
}

input[type=checkbox]{
    width: fit-content;
    height: fit-content;
    margin-top: 8px;
}

.numberContainer{
    margin-right: 1%;
    width: 50%;
}

.numberNbtn{
    display: flex;
    align-items: center;
    width: 43vh;
    margin: 0;
}

.iconText{
    display: flex;
    margin-bottom: 1%;
}

.btnText{
    border-radius: 7%;
    padding: 15%;
    padding-left: 20%;
    padding-right: 20%;
    margin: 10%;
}

.titleColorYfondo{
    display: flex;
    justify-content: left;
}

.colorYfondo{
    display: flex;
}

.colorContainer{
    display: flex;
    margin-right: 3%;
    align-items: center;
    background-color: #393e49;
    border-radius: 7%;
    padding: 2%;
    padding-top: 4%;
    width: 100%;
}

.fondoCont{
    display: flex;
    align-items: center;
    background-color: #393e49;
    border-radius: 7%;
    padding: 2%;
    padding-top: 4%;
    width: 100%;
}

.btnContornoCont{
display: flex;
justify-content: space-evenly;
padding-bottom: 5%;
}

.btnContorno{
    height: 35px;
    width: 80px;
    border-radius: 7%;
}

.botonDescarga{
    background-color: #3a7d33;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: none; 
    border-radius: 5%;
    margin-top: 1%;
    margin-left: 0;
    margin-right: 0;
    height: 6%;  
}

button{
    background-color:#393e49;
    color: #FFFFFF;
    border-style: none;
    font-family: 'Montserrat', sans-serif;
}

/* -------- MEDIAS QUERY ----------- */