html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family:'Montserrat', sans-serif;
    font-size: 11px;
}

header {
    background-color: #191e2b;
    margin: 0px;
    height: 20%;
    display: flex;
    padding-bottom: 15px;
    
}

img{
    height: 100%;
    
}

h1{
    display: inline;
    color: #fbffff;
}
main {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    align-items: center;
    background-color: #30343f;
    
}

.caja-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    justify-items: center; 
    align-items: center;
    
}

/* .options{
    
} */

/* .fa-solid, .fa-regular {
    COMO LOGRAR UN ESPACIO ENTRE EL ICONO Y EL TEXTO?
} */

.titleMeme{
    width: 100%;
    height: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    
}

span {
    padding: 5px;
    margin: 0 15px;
    color: #fbffff;
    font-size: 13px;
}

.recuadroPadre {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items:inherit;
    
}

.top-text {
    background-color: white;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content:center; 
    margin: 0;    
    order: 0;
}

.imgMeme {
    background-color: #000000;
    order: 1;
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0px;
}

.bottom-text {
    background-color: white;
    color: black;
    width: 100%;
    height: 20%;
    display: flex;
    margin: 0%;
    align-items: center;
    justify-content: center;
    order: 2;
    
}

h2{
text-align: center;
font-size: 18px;
}

h3, h4, h5{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: left;
    
}
.asideImg{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 3px;
    padding-left: 20px;
    overflow: scroll;
    color: white;
    background-color: #252935;
}

label{
    display: block;
    margin: 5px;
} 

input, select{
    background-color: #393e49;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 11px;
    width: 27vh;
    border-radius: 5%;
    border: none;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.fondoAside{
    display: flex;
}

.nameColor{
    background-color: #0c52e8;
    width: fit-content;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.spanColor{
    background-color: red;
    margin-top:7%;
    padding: 2px;
    align-content: center;
    justify-content: center;
    

}

input[type="color"],
input[type="color"]::-webkit-color-swatch-wrapper,
input[type="color"]::-webkit-color-swatch {
    width: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 50%;
    background-color: transparent;
    margin-top: 2px;
    margin-bottom: 8px;
    
}

.filterBox{
    /* justify-content: left; */
}

.boxRange{
    align-items: center;
    justify-content: center;
}

.btnReset{
    background-color: #393e49;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none; 
    border-radius: 3%;
    margin-top: 1%;
    padding: 8px;
    width: fit-content;
}

.asideTxt{
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 3px;
    background-color: #252935;
    color: white;
    margin-left: 5px;
}

.botonDescarga{
    background-color: #3a7d33;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none; 
    border-radius: 3%;
    margin-top: 1%;
    padding: 8px;
    
}

button{
    width: fit-content;
}